/* Home Screen */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: relative;
width: 390px;
height: 884px;
min-height: 884px;

background: #FFFFFF;


/* Main - Content Canvas */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px 24px 80px;

width: 390px;
max-width: 576px;
height: 883.98px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Header Section:margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 158.016px 0px 32px;

width: 342px;
height: 358px;
min-height: 167.98px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header Section */

width: 342px;
height: 167.98px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;

position: absolute;
width: 80px;
height: 96px;
left: 131px;
top: 0px;



/* Background+Shadow */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 80px;
height: 80px;

background: #CFE8E2;
box-shadow: 0px 4px 12px rgba(29, 35, 48, 0.05), 0px 8px 24px rgba(29, 35, 48, 0.03);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 47px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 47px;
height: 21px;

background: #006A63;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1:margin */

position: absolute;
width: 126.03px;
height: 46.39px;
left: 107.98px;
top: 96px;



/* Heading 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 126.03px;
height: 39px;
left: 0px;
top: -1px;



/* Text */

width: 126.03px;
height: 39px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 38px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.8px;

color: #171D1C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

position: absolute;
width: 245.91px;
height: 26px;
left: calc(50% - 245.91px/2 + 0.01px);
top: 141.39px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */
display: flex;
align-items: center;
text-align: center;

color: #3D4947;



/* Main Actions Container:margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 158.016px;

width: 342px;
height: 421.99px;
min-height: 263.97px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Main Actions Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 342px;
height: 264.39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button - Play Local Hero Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
isolation: isolate;

width: 342px;
height: 138.79px;

background: #006A63;
box-shadow: 0px 8px 24px rgba(0, 106, 99, 0.15), 0px 16px 40px rgba(0, 106, 99, 0.1);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
width: 128px;
height: 128px;
right: -32px;
top: -32px;

background: #1E5E5A;
mix-blend-mode: multiply;
opacity: 0.3;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

width: 294px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: -1.205px 0px;
z-index: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 25.67px;
height: 18.67px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 25.67px;
height: 18.67px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 121.5px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 121.5px;
height: 32px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
/* identical to box height, or 130% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 0px 104.469px;

width: 130.83px;
min-width: 24.02px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 7.4px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 7.4px;
height: 12px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 76.23px 0px 0px;

width: 294px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Text */

width: 217.77px;
height: 52px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 160% */
display: flex;
align-items: center;

color: rgba(255, 255, 255, 0.9);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button - Play AI Secondary Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 24px 24.59px;

width: 342px;
height: 109.59px;

background: #DFE3E2;
opacity: 0.8;
box-shadow: 0px 4px 12px rgba(29, 35, 48, 0.05), 0px 8px 24px rgba(29, 35, 48, 0.03);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

width: 294px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 294px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 18px;

background: #3D4947;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 94.2px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 94.2px;
height: 28px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;

color: #3D4947;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px 0px 0px 49.4688px;

width: 167.8px;
min-width: 110.31px;
height: 24.39px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Background+Border */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 3.5px 8px 3.89px;

width: 110.31px;
height: 24.39px;

background: #EAEFED;
border: 1px solid #BCC9C6;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 92.31px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #6D7A77;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 245.41px;
height: 26px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: rgba(61, 73, 71, 0.7);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Mobile Navigation */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 53.89px 12px 53.84px;
gap: 75.7px;

position: absolute;
height: 69px;
left: 0px;
right: 0px;
bottom: 0px;

background: #FFFFFF;
box-shadow: 0px -4px 12px rgba(29, 35, 48, 0.05);
border-radius: 12px 12px 0px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Link - Play (Active) */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 16px;

width: 55.63px;
height: 45px;

background: rgba(58, 168, 158, 0.2);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #006A63;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 0px 0px;

width: 23.63px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 23.63px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #006A63;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link - Rules (Inactive) */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 30.42px;
height: 39px;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #6D7A77;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 0px 0px;

width: 30.42px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 30.42px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #6D7A77;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link - Settings (Inactive) */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 44.42px;
height: 39px;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20.1px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20.1px;
height: 20px;

background: #6D7A77;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 0px 0px;

width: 44.42px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 44.42px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #6D7A77;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
