/* Onboarding 3*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 390px;
height: 884px;

background: linear-gradient(0deg, #F5F2E9, #F5F2E9), #FFFFFF;


/* Main - OnboardingScreen */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 48px 32px;
gap: 69.8px;

width: 390px;
max-width: 448px;
height: 884px;
min-height: 884px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* HeaderSection:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px 0px 0px;

width: 326px;
height: 213px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* HeaderSection */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 326px;
height: 165px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 326px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 278.16px;
height: 90px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 45px;
/* or 125% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.9px;

color: #1E293B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px;

width: 326px;
height: 59px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 250.36px;
height: 59px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* or 162% */
display: flex;
align-items: center;
text-align: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* GridSection */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 326px;
height: 296px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Grid Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
isolation: isolate;

width: 296px;
height: 296px;

background: rgba(255, 255, 255, 0.3);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Grid Container:shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.05), 0px 8px 10px -6px rgba(0, 0, 0, 0.05);
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

width: 264px;
height: 264px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Row 1 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

background: #FCFCFC;
border-radius: 12px;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 80px;
height: 80px;
left: 92px;
top: 0px;

background: #FCFCFC;
border-radius: 12px;


/* SVG - Solid O */

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 6px solid #006666;


/* Background */

position: absolute;
width: 80px;
height: 80px;
left: 184px;
top: 0px;

background: #FCFCFC;
border-radius: 12px;


/* Row 2 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 92px;

background: #FCFCFC;
border-radius: 12px;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 80px;
height: 80px;
left: 92px;
top: 92px;

background: #FCFCFC;
border-radius: 12px;


/* SVG - Solid O */

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 6px solid #006666;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 80px;
height: 80px;
left: 184px;
top: 92px;

background: #FCFCFC;
border-radius: 12px;


/* SVG - Solid X */

width: 40px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 5px solid #F87171;


/* Row 3 */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 184px;

background: #FCFCFC;
border-radius: 12px;


/* Background */

position: absolute;
width: 80px;
height: 80px;
left: 92px;
top: 184px;

background: #FCFCFC;
border-radius: 12px;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 80px;
height: 80px;
left: 184px;
top: 184px;

background: #FCFCFC;
border-radius: 12px;


/* SVG - Faded O (Requested: 40% opacity) */

width: 48px;
height: 48px;

opacity: 0.4;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 6px solid #006666;


/* Hand Indicator */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 27px;
height: 40px;
right: -21.5px;
bottom: -28px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Text */

width: 27px;
height: 40px;

font-family: 'Liberation Sans';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
display: flex;
align-items: center;

color: #1E293B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* FooterSection:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 32px;

width: 326px;
height: 140px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* FooterSection */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 326px;
height: 108px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Pagination Indicators */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 326px;
height: 8px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #CBD5E1;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #CBD5E1;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

width: 48px;
height: 8px;

background: #006666;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Main Action Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 0px;
isolation: isolate;

width: 326px;
height: 68px;

background: #006666;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Main Action Button:shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 142.91px;
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
