/* Settings Screen */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 38.08px;
isolation: isolate;

position: relative;
width: 390px;
height: 1054px;
min-height: 1054px;

background: linear-gradient(0deg, #F7F4EC, #F7F4EC), #FFFFFF;


/* Main Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 79px 24px 100px;
gap: 32px;

width: 390px;
max-width: 576px;
height: 1011.36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Settings Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 7px;

width: 342px;
height: 72.59px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 342px;
height: 39px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 128.14px;
height: 39px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 38px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.64px;

color: #1D2330;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 0.59px;

width: 342px;
height: 26.59px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 187.05px;
height: 26px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */
display: flex;
align-items: center;
text-align: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Settings Groups */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 342px;
height: 727.77px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Theme Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px;
gap: 0px;

width: 342px;
height: 116.5px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(29, 35, 48, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 334px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* THEME */

width: 302px;
height: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.7px;
text-transform: uppercase;

color: #6D7A77;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 16px;
gap: 83.53px;

width: 334px;
height: 67.5px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 170.47px;
height: 43.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #CFE8E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #1D2330;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 114.47px;
height: 43.5px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 114.47px;
height: 29px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -0.5px 0px;


/* Text */

width: 88.44px;
height: 29px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: #1D2330;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 114.47px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Toggle Switch Placeholder */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;

width: 48px;
height: 24px;

background: #DFE3E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background+Shadow */

width: 16px;
height: 16px;

background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Audio Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;

width: 342px;
height: 192.88px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(29, 35, 48, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 334px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* AUDIO */

width: 302px;
height: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.7px;
text-transform: uppercase;

color: #6D7A77;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 16px 15.99px;
gap: 71.06px;

width: 334px;
height: 71.48px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 182.94px;
height: 43.49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #CFE8E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 17.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 17.5px;

background: #1D2330;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 126.94px;
height: 43.49px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 126.94px;
height: 29px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -0.51px 0px;


/* Text */

width: 111.25px;
height: 29px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: #1D2330;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 126.94px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Toggle Switch Active Placeholder */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 4px;

width: 48px;
height: 24px;

background: #006A63;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background+Shadow */

width: 16px;
height: 16px;

background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Horizontal Divider */

width: 302px;
height: 1px;

background: #DFE3E2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 16px 12px;
gap: 50.2px;

width: 334px;
height: 71.4px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 203.8px;
height: 43.4px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #CFE8E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 12px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 12px;
height: 18px;

background: #1D2330;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 147.8px;
height: 43.4px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 147.8px;
height: 29px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: #1D2330;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -0.6px 0px;


/* Text */

width: 88.05px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Toggle Switch Placeholder */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px;

width: 48px;
height: 24px;

background: #DFE3E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background+Shadow */

width: 16px;
height: 16px;

background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Gameplay Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px;
gap: 0px;

width: 342px;
height: 116.39px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(29, 35, 48, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 334px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* GAMEPLAY */

width: 302px;
height: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.7px;
text-transform: uppercase;

color: #6D7A77;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 16px;
gap: 64.37px;

width: 334px;
height: 67.39px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 189.63px;
height: 43.39px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #CFE8E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 24px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 18px;

background: #1D2330;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 133.63px;
height: 43.39px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 133.63px;
height: 29px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: #1D2330;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -0.61px 0px;


/* Text */

width: 93.94px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Toggle Switch Active Placeholder */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 4px;

width: 48px;
height: 24px;

background: #006A63;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background+Shadow */

width: 16px;
height: 16px;

background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;

width: 342px;
height: 186px;

background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(29, 35, 48, 0.05);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 16px;

width: 334px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* ABOUT */

width: 302px;
height: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
letter-spacing: 0.7px;
text-transform: uppercase;

color: #6D7A77;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 16px 16px;
gap: 149.55px;

width: 334px;
height: 68px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 116.34px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #CFE8E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #1D2330;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 60.34px;
height: 29px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 60.34px;
height: 29px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: #1D2330;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 36.11px;
height: 25.59px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

position: absolute;
width: 36.11px;
height: 26px;
left: 0px;
top: -1px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;



/* Horizontal Divider */

width: 302px;
height: 1px;

background: #DFE3E2;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 16px 12px;
gap: 164.32px;

width: 334px;
height: 68px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 113.66px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #CFE8E2;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 12px;

background: #1D2330;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 57.66px;
height: 29px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 57.66px;
height: 29px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* identical to box height, or 160% */
display: flex;
align-items: center;

color: #1D2330;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 7.4px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 7.4px;
height: 12px;

background: #6D7A77;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logout Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 0px;
gap: 8px;

width: 342px;
height: 52px;

border: 1px solid rgba(186, 26, 26, 0.3);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #BA1A1A;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 58.77px;
height: 17px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.7px;

color: #BA1A1A;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Header - TopAppBar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 390px;
height: 72px;
left: 0px;
top: 0px;

background: #F6FAF8;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 24.02px 16px 24px;
gap: 64.1px;

width: 390px;
max-width: 576px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #6D7A77;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 133.73px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 133.73px;
height: 32px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
/* identical to box height, or 130% */
display: flex;
align-items: center;
letter-spacing: 2.4px;
text-transform: uppercase;

color: #171D1C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #6D7A77;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* BottomNavBar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 41px;
gap: 50px;
isolation: isolate;

position: absolute;
width: 390px;
height: 71px;
left: 0px;
bottom: 0px;

background: #FFFFFF;
border-radius: 12px 12px 0px 0px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* BottomNavBar:shadow */

position: absolute;
width: 390px;
left: 0px;
top: 0px;
bottom: -0.39px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 64px;
height: 45px;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 26px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -1.13687e-13px 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;

width: 26px;
height: 26px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #6D7A77;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 23.63px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 23.63px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 64px;
height: 47px;

opacity: 0.7;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 28px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -1.13687e-13px 0px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 4px;

width: 28px;
height: 28px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #6D7A77;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 30.42px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 30.42px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;

color: #6D7A77;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button - Active Navigation Item */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 16px;

width: 80px;
height: 47px;

background: rgba(58, 168, 158, 0.2);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 20.1px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 20.1px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20.1px;
height: 20px;

background: #006A63;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 44.41px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 44.41px;
height: 15px;

font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height, or 120% */
display: flex;
align-items: center;
text-align: center;

color: #006A63;
font-variation-settings: 'opsz' 12;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
